@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import '../../utils/pageconfig';
@import '../../utils/mixin.scss';

.header {
  &__wrapper {
    @include inlinePadding;
    // background-color: #a03c50;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  &__top {
    background-color: #fefefe;
    // box-shadow: -1px 7px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: -1px 7px 57px -11px rgba(66, 68, 90, 1);
    position: relative;
  }

  &__lang {
    position: absolute;
    right: 0;
    top: -40px;

    display: flex;
    gap: 30px;
    margin-right: 20px;

    @include onDesctop {
      top: 0;
    }
  }

  &__title {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding-inline: 10px;

    @include onDesctop {
      font-size: 35px;
    }
  }

  &__center {
    background-color: #fefefe;
    // box-shadow: -1px 7px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: -1px 7px 57px -11px rgba(66, 68, 90, 1);
    padding: 10px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    @include onDesctop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__left-side {
    display: flex;
    justify-content: center;
  }

  &__poster {
    max-height: 600px;

    @include onDesctop {
      max-height: 1200px;
    }
  }

  &__right-side {
    @include onDesctop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 70px;
    }
  }

  &__logo {
    display: none;
    @include onDesctop {
      display: block;
      width: 500px;
      filter: drop-shadow(-5px 3px 5px #000000);
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    &--about {
      display: block;
      background-color: #a03c50;
      color: #fefefe;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: 0.3s;

      @include onDesctop {
        font-size: 15px;
      }

      @include onLargeDesctop {
        font-size: 25px;
      }

      &:hover {
        background-color: #7c2f3f;
        color: #fefefe;
        border-radius: 20px;
      }
    }

    &--buy-ticket {
      display: block;
      background-color: #a03c50;
      color: #fefefe;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: 0.3s;

      @include onDesctop {
        font-size: 15px;
      }

      @include onLargeDesctop {
        font-size: 25px;
      }

      &:hover {
        background-color: #7c2f3f;
        color: #fefefe;
        border-radius: 20px;
      }
    }

    @include onDesctop {
      gap: 50px;
    }
  }
}

.lang {
  &__link {
    background-color: #a03c50;
    color: #fefefe;
    display: block;
    padding: 10px;
    width: 50px;
    text-align: center;
  }
}
