.footer {
  background-color: #a03c50;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__regulamin {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  &__regul {
    color: #fefefe;
    text-transform: uppercase;
  }
}
